<div class="starter-template">
       <h1>Aplikacja do wystawiania faktur</h1>
       <br>Wykorzystane technologie:
       <div class="list-group">
  			<a href="https://www.apachefriends.org/pl/download.html" class="list-group-item list-group-item-action">Pakiet XAMPP</a>
  			<a href="https://getcomposer.org/" class="list-group-item list-group-item-action">PHP Composer</a>
  			<a href="https://bootstrap-table.com/" class="list-group-item list-group-item-action">Bootstrap table</a>
		</div>
</div>